header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(river.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.menu ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;

}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 7px;

}
.menu ul li a:hover{
    background-color: #fff;
    color: black;
    transition: 0.5s;
}
.logo img{
    float: left;
    width: 70px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 

}
.title h1{
    color: #fff;
    font-size: 60px;

}
.button{
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-20%,-50%);
 
}
.btn{
    border: 1px solid #fff;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    transition: 0.6s ease;
}
.btn:hover{
    background-color: #fff;
    color: black;
  
}
.sideber ul li{
    text-align: right;
}
.menu ul{
    text-align: right;
}